@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: black;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Debug Borders */
/* header,
.profile-name,
.my-work,
.work-screen,
.work-info,
.contact-message,
.contact-address,
.contact-phone,
.contact-img-container {
  border: 2px solid orange;
}

.profile-pic,
.about-me,
.work-card,
footer {
  border: 2px solid cyan;
} */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Text Styles */
.profile-name,
.profile-name-tablet,
.about-me h1,
.about-me-tablet h1,
.my-work h1,
.work-screen-text,
.work-name,
footer h1 {
  font-family: "Playfair Display", sans-serif;
}

.about-me h1,
.my-work h1,
.work-screen-text,
footer h1 {
  font-size: 2em;
}

.about-info,
.about-info-tablet,
.work-info {
  color: rgb(100, 100, 100);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Header Mobile*/
.about-me-tablet,
.profile-container-tablet,
.contact-phone,
.about-img-container-desktop {
  display: none;
}

.profile-container {
  background: linear-gradient(160deg, rgb(138, 168, 236) 60%, #fff 20%);
  /* min-width: 700px; */
  /* width: fit-content; */
  /* max-width: 700px; */
  display: flex;
  position: relative;
  justify-content: center;
}

.profile-name {
  position: absolute;
  bottom: 0em;
  font-size: 2.5em;
  color: white;
  padding: 0 0 0.1em 0.2em;
}

.profile-pic {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.profile-pic img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: block;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!About Me Mobile*/
.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.about-info {
  max-width: 300px;
  font-size: 1.2em;
  line-height: 1.5em;
}

.about-img-container {
  max-width: 300px;
}

.about-me img {
  width: 32px;
  filter: brightness(0) saturate(100%);
  padding: 1rem 0.5rem 1rem 0.5rem;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!My Work Mobile*/
.my-work {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.work-card {
  max-width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.work-screen {
  color: white;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-card:nth-child(2) .work-screen {
  background-color: dodgerblue;
}
.work-card:nth-child(3) .work-screen {
  background-color: yellowgreen;
}
.work-card:nth-child(4) .work-screen {
  background-color: lightcoral;
}
.work-card:nth-child(5) .work-screen {
  background-color: lightseagreen;
}
.work-card:nth-child(6) .work-screen {
  background-color: lightskyblue;
}
.work-card:nth-child(7) .work-screen {
  background-color: slateblue;
}

.work-screen-text {
  padding: 2rem;
}

.work-name {
  min-width: 300px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 1.5fr 0.05fr;
  justify-items: center;
  font-size: 0.8em;
}

.work-name h2 {
  grid-column: 2/3;
}

.work-img {
  grid-column: 4/5;
  align-self: center;
}

.work-name img {
  width: 24px;
  filter: brightness(0) saturate(100%);
  padding-left: 0.5rem;
}

.work-info {
  padding: 0 0.8rem 0 0.8rem;
  font-size: 1.2em;
  padding-bottom: 2rem;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Footer Mobile*/
footer {
  background: rgb(138, 168, 236);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 10px 10px 10px 10px black;
}

.contact-message {
  max-width: 300px;
  font-size: 1.2em;
  padding-bottom: 1.5rem;
}

.contact-address {
  max-width: 300px;
  padding-bottom: 1.5rem;
}

.contact-phone {
  max-width: 300px;
}

.contact-img-container {
  display: flex;
  padding-bottom: 1.5rem;
}

.contact-img-container img {
  width: 32px;
  filter: brightness(0) saturate(100%) invert(100%);
  padding: 1rem 1rem 1rem 1rem;
}

.contact-pic {
  max-width: 750px;
  height: auto;
}

.contact-pic img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Tablet Query*/

@media (min-width: 751px) {
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Header Tablet*/
  .profile-container {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .profile-container-tablet {
    /* border: 5px solid greenyellow; */
    background: linear-gradient(165deg, rgb(138, 168, 236) 60%, #fff 10%);
    display: grid;
    justify-content: center;
    width: 1000px;
    height: 600px;
  }

  .profile-pic-container-tablet {
    /* border: 5px solid greenyellow; */
    width: fit-content;
    display: grid;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: -12rem;
  }

  .profile-pic-tablet {
    /* border: 5px solid violet; */
    /* display: none; */
    z-index: 1;
    width: 400px;
    height: 400px;
    grid-column: 2/3;
    /* background-image: url("./images/head-profile.jpg");
    background-size: cover;
    background-position: 0 -2rem; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .profile-name-tablet {
    /* border: 10px solid blue; */
    height: fit-content;
    z-index: 1;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: space-evenly;
    font-size: 3em;
    color: white;
    margin-right: -5rem;
    margin-top: 3rem;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .profile-name-text-tablet:nth-child(2) {
    padding-left: 1rem;
  }

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!About Me Tablet*/
  .about-me {
    display: none;
  }

  .about-me-tablet {
    /* border: 10px solid red; */
    width: 600px;
    height: fit-content;
    background: white;
    display: block;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 0 2rem 2rem 2rem;
  }

  .about-float-tablet {
    /* border: 5px solid red; */
    width: 310px;
    height: 170px;
    float: right;
  }

  .about-me-tablet h1 {
    /* border: 2px solid red; */
    position: relative;
    top: 1rem;
    padding-left: 3.5rem;
  }

  .about-info-tablet {
    /* border: 2px solid red; */
    font-size: 1.5em;
  }

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!My Work Tablet*/
  .my-work {
    /* border: 2px solid red; */
    display: grid;
    column-gap: 4rem;
    justify-content: center;
  }

  .my-work h1 {
    grid-column: 1/3;
  }

  .work-card {
    justify-self: center;
  }

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Footer Tablet*/
  footer {
    justify-content: center;
    column-gap: 4rem;
    display: grid;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .contact-text {
    grid-column: 1/2;
  }

  .contact-phone {
    display: grid;
    column-gap: 0.5rem;
    align-items: center;
  }

  .contact-phone img {
    width: 28px;
    filter: brightness(0) saturate(100%) invert(100%);
  }

  .contact-phone-text {
    grid-column: 2/3;
  }

  .contact-img-container {
    grid-column: 1/2;
  }

  .contact-img-container img {
    padding: 0 2rem 0 0;
  }

  .contact-pic {
    width: 300px;
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Desktop Query*/

@media (min-width: 1001px) {
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Header Desktop*/
  .profile-container,
  .about-img-container-desktop {
    display: none;
  }

  header {
    /* border: 5px solid greenyellow; */
    background: linear-gradient(175deg, rgb(138, 168, 236) 70%, #fff 10%);
    display: flex;
    justify-content: center;
    height: 700px;
  }

  .profile-container-tablet {
    /* border: 5px solid greenyellow; */
    background: transparent;
    display: grid;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-top: 3rem;
  }

  .profile-pic-container-tablet {
    /* border: 5px solid greenyellow; */
    width: fit-content;
    position: relative;
    display: grid;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    /* margin-left: 1rem; */
    /* margin-top: 2rem; */
    /* margin-bottom: -12rem; */
  }

  .profile-pic-tablet {
    /* border: 5px solid violet; */
    /* display: none; */
    z-index: 1;
    width: 400px;
    height: 500px;
    /* background-image: url("./images/head-profile.jpg");
    background-size: cover;
    background-position: 0 -2rem; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .profile-name-tablet {
    /* border: 10px solid blue; */
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    display: flex;
    justify-self: center;
    grid-column: 2/3;
    justify-content: space-between;
    font-size: 2.8em;
    color: white;
    margin: 0;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .profile-name-text-tablet:nth-child(2) {
    padding-left: 1rem;
  }

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!About Me Desktop*/
  .about-me {
    display: none;
  }

  .about-me-tablet {
    /* border: 10px solid red; */
    width: 500px;
    height: fit-content;
    background: white;
    /* display: block; */
    grid-row: 1/2;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 0 2rem 2rem 2rem;
  }

  .about-float-tablet {
    /* border: 5px solid red; */
    display: none;
  }

  .about-me-tablet h1 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: end;
    top: 0;
    padding: 0;
  }

  .about-info-tablet {
    /* border: 2px solid red; */
    font-size: 1.5em;
  }

  .about-img-container-desktop {
    /* border: 5px solid red; */
    display: flex;
    justify-content: end;
    margin-top: 1rem;
  }

  .about-img-container-desktop img {
    width: 32px;
    filter: brightness(0) saturate(100%);
    margin-left: 1rem;
  }

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!My Work Tablet*/
  .my-work {
    /* border: 2px solid red; */
    display: grid;
    column-gap: 4rem;
    justify-content: center;
  }

  .work-card {
    /* border: 4px solid red; */
    /* width: 280px; */
    justify-self: center;
  }

  .work-card:nth-child(2) {
    grid-column: 1/2;
  }

  .work-card:nth-child(4) {
    grid-column: 3/4;
  }

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Footer Desktop*/
  footer {
    column-gap: 10rem;
  }
}
